*{
  margin: 0;
  padding:0;
}
body{
  background-image:url('ppp.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
img{
  margin:0 45% 0;
}
h1{
  margin: 0 auto 0 32%;
  font-size: 45px;
  font-family: cursive;
}
h2{
  margin: 0 auto 0 40%;
  font-size: 50px;
  color: blue;
}
p{
  margin:0 auto 0 38%;
  font-size: 20px;
}
a{
  margin: 0 auto 0 50%;
}
button{
  width:60px;
  height: 45px;
}
